<h2><%= nucleo.nombre %></h2>
<form action="/horario" method="get" onsubmit="checkForm()">
  <div class="row">
    <div class="input-field col s12 m6">
      <label>Origen</label>
      <input type="text" list="estaciones" id="origen" />
      <input hidden type="text" list="estaciones" name="origen" />
    </div>
    <div class="input-field col s12 m6">
      <label>Destino</label>
      <input type="text" list="estaciones" id="destino" />
      <input hidden type="text" list="estaciones" name="destino" />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <label>Date</label>
      <input type="text" class="datepicker" name="date" value="<%= Date.today %>" />
    </div>
    <div class="col s12 m6">
      <input id="all_day" type="checkbox" name="all_day" onchange="allDayChanged(this.checked)" checked />
      <label for="all_day">Todo el día</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <label>Desde</label>
      <input type="text" class="timepicker" id="from" name="from" value="0:00" disabled />
    </div>
    <div class="input-field col s12 m6">
      <label>Hasta</label>
      <input type="text" class="timepicker" id="to" name="to" value="23:59" disabled />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="submit" class="btn waves-effect waves-light" />
    </div>
  </div>
</form>

<datalist id="estaciones">
  <% nucleo.estaciones.sort_by(&:nombre).each do |estacion| %>
    <option data-value="<%= estacion.id %>"><%= estacion.nombre %></option>
  <% end %>
</datalist>

<script>
  $('.datepicker').pickadate({
    selectMonths: false,
    selectYears: false,
    today: 'Today',
    clear: false,
    close: false,
    closeOnSelect: true
  });

  $('.timepicker').pickatime({
    default: 'now',
    fromnow: 0,
    twelvehour: false,
    donetext: 'OK',
    cleartext: 'Clear',
    canceltext: 'Cancel',
    autoclose: false,
    ampmclickable: true,
    aftershow: function(){}
  });

  function allDayChanged(checked) {
    var elements = [
      document.getElementById('from'),
      document.getElementById('to')
    ];
    elements.forEach(function(element) {
      if (checked) element.setAttribute('disabled', '');
      else element.removeAttribute('disabled');
    })
  }

  function findOption(name) {
    return Array.from(document.querySelectorAll('#estaciones option')).find(function(option) {
      return option.value === name;
    });
  }

  function findId(name) {
    var option = findOption(name);
    return option && option.getAttribute('data-value');
  }

  function checkForm() {
    var origen = findId(document.getElementById('origen').value);
    var destino = findId(document.getElementById('destino').value);
    if (!origen || !destino) return false;
    document.querySelector('input[name="origen"]').value = origen;
    document.querySelector('input[name="destino"]').value = destino;
    return true;
  }
</script>
